@using System.Threading
@using ExchangeRate
@using System.Web.UI.WebControls
@using MovieShopWepApp.Controllers
@using MovieShopWepApp.Models
@using ServiceGateway.Entities
@model UserViewModel

@{
    ViewBag.data = "Index";
}

<h3></h3>
<div id="Menu" class="nav-side-menu">
    <div class="brand">Menu</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Sortering
                </a>
            </li>

            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Genres <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li class="active">
                    <a onclick="FilterMovies(null, '@Model.CurrentCurrency')">All Genres</a>
                </li>
                @foreach (Genre genre in @Model.Genres)
                {
                    <li class="active">
                        <a onclick="FilterMovies(@genre.Id, '@Model.CurrentCurrency');">@genre.Name</a>
                    </li>
                }
            </ul>
        </ul>
    </div>
</div>

<div style="margin-left: 17%" class="header">
    Movie Selection
    @*<div align="right" class="container">
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                Currency
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a onclick="FilterMovies(null, '@Iso4217.DKK');" href="#">DDK</a></li>
                <li><a onclick="FilterMovies(null, '@Iso4217.EUR');" href="#">EUR</a></li>
                <li><a onclick="FilterMovies(null, '@Iso4217.USD');" href="#">USD</a></li>
                <li><a onclick="FilterMovies(null, '@Iso4217.GBP');" href="#">GBP</a></li>
            </ul>
        </div>
    </div>*@

    <select id="selectBox" onchange="FilterMovies(null, value);" style="margin-left: 80%; width: 60px" name="Currencies">
            <option value="@Iso4217.DKK">DKK</option>
            <option value="@Iso4217.EUR">EUR</option>
            <option value="@Iso4217.USD">USD</option>
            <option value="@Iso4217.GBP">GBP</option>
        </select>
</div>

<div style="width: 100%; height: 78vh" id="osterlaekkert">
    @{ Html.RenderPartial("PartialMovieView", new PartialViewModel() { Movies = Model.Movies, CurrentCurrency = Model.CurrentCurrency });}
</div>

<script type="text/javascript">
    var FilterMovies = function (genreId, currentCurrency) {
        $.ajax({
                dataType: "html",
                url: '@Url.Action("GetMoviesResult")',
            data: { id: genreId, currency: currentCurrency },
                success: function (data) {
                
                    $('#osterlaekkert').html(data);
                },
                error: function () {
                    $('#osterlaekkert').html("<h3>Couldn't do that</h3>");
                }
            }
        )};
</script>


